.header{
  padding: 15px 25px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #189AB4;
  justify-content: space-between;
}


.theme-color{
  background-color: #189AB4;
}

.filter{
  display: flex;
  flex-direction: row-reverse;
}